license: true
usersPassword: "odmAdmin"

image:
  repository: cp.icr.io/cp/cp4a/odm
  pullSecrets:
  - ibm-entitlement-key

service:
  ingress:
    enabled: true
    class: nginx
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: https

internalDatabase:
  populateSampleData: true
  persistence:
    enabled: false
    useDynamicProvisioning: true
