customization:
  runAsUser: ''
decisionServerRuntime:
  downloadUrl:
    - https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/download/v2.16.0/opentelemetry-javaagent.jar
  jvmOptionsRef: otel-runtime-jvm-options-configmap
  monitorRef: runtime-monitor-configuration
image:
  repository: cp.icr.io/cp/cp4a/odm
  pullSecrets:
  - ibm-entitlement-key
internalDatabase:
  persistence:
    enabled: false
  populateSampleData: true
  runAsUser: ''
license: true
service:
  enableRoute: true
usersPassword: odmAdmin

