license: true
usersPassword: <password>

image:
  repository: cp.icr.io/cp/cp4a/odm
  pullSecrets:
  - ibm-entitlement-key

service:
  type: LoadBalancer

externalDatabase:
  type: sqlserver
  secretCredentials: <odmdbsecret>
  port: 3342
  serverName: <sqlminame>.public.<identifier>.database.windows.net
  databaseName: odmdb

customization:
  securitySecretRef: <mynicecompanytlssecret>
